[user]
	name = Chris Coutinho
	email = chrisbcoutinho@gmail.com
[commit]
	verbose = true

[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[pretty] # From https://github.com/nicksp/dotfiles
	custom = "%C(magenta)%h%C(red)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"
	#                     │        │            │            │             └─ author name
	#                     │        │            │            └─ message
	#                     │        │            └─ date (relative)
	#                     │        └─ decorations (branch, heads or tags)
	#                     └─ hash (abbreviated)
