"*":
  "atom-beautify":
    general:
      _analyticsUserId: "817f02f9-2f9a-493a-8de9-9bf02a6cbb6e"
  "atom-html-preview":
    enableMathJax: true
  core:
    customFileTypes:
      "source.matlab": [
        "m"
      ]
      "source.modula2": [
        "mod"
        "smod"
      ]
      "source.shell": [
        "profile"
      ]
    disabledPackages: [
      "markdown-preview"
      "atom-beautify"
      "language-gfm"
      "racer"
      "terminal-plus"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "gruvbox-plus-syntax"
    ]
    warnOnLargeFileLimit: 10
  editor:
    fontFamily: "Source code pro"
    fontSize: 15
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "391e7d9a-1bd2-6a34-1d95-f5efafa612ae"
  "git-plus":
    commits:
      verboseCommits: true
  "gruvbox-plus-syntax":
    contrast: "Soft"
  latex:
    engine: "xelatex"
    openResultInBackground: false
    opener: "evince"
    outputDirectory: ".build"
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    enablePandoc: true
  minimap:
    disablePythonDocLinks: true
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  pigments:
    extendAutocompleteToVariables: true
    ignoredScopes: [
      ".comment"
    ]
    markerType: "native-underline"
    mergeColorDuplicates: true
    sortPaletteColors: "by color"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  tabs:
    enableVcsColoring: true
  "terminal-plus":
    core: {}
    style: {}
  "todo-show": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
