"*":
  "atom-beautify":
    general:
      _analyticsUserId: "817f02f9-2f9a-493a-8de9-9bf02a6cbb6e"
  "atom-html-preview":
    enableMathJax: true
  core:
    customFileTypes:
      "source.matlab": [
        "m"
      ]
      "source.shell": [
        "profile"
      ]
    disabledPackages: [
      "markdown-preview"
      "git-time-machine"
      "atom-beautify"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "gruvbox-plus-syntax"
    ]
    warnOnLargeFileLimit: 10
  editor:
    fontFamily: "Source code pro"
    fontSize: 15
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "391e7d9a-1bd2-6a34-1d95-f5efafa612ae"
  "git-plus":
    commits:
      verboseCommits: true
  "gruvbox-plus-syntax":
    contrast: "Soft"
  latex:
    opener: "pdf-view"
    outputDirectory: "build"
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    enablePandoc: true
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  pigments:
    markerType: "dot"
    mergeColorDuplicates: true
    sortPaletteColors: "by color"
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
