'.source.fortran':
  'program':
    'prefix': 'prog'
    'body': """
      program ${1:name}
        use iso_fortran_env, only: wp=>real64
        implicit none

        $0

      end program $1
    """
  'module':
    'prefix': 'mod'
    'body': """
      module ${1:name}
        use iso_fortran_env, only: wp=>real64
        implicit none

      contains

        $0

      end module $1
    """
