'.source.fortran':
  'program':
    'prefix': 'prog'
    'body': 'program ${1:name}\n\tuse iso_fortran_env, only: wp=>real64\n\timplicit none\n\n\t$0\n\nend program $1\n'
  'module':
    'prefix': 'mod'
    'body': 'module ${1:name}\n\tuse iso_fortran_env, only: wp=>real64\n\timplicit none\n\n\t$0\n\nend module $1\n'
