# Blacklist files/folders in same directory as the .gitignore file
/*

# But not these files...
!.gitignore
!config
!offlineimap.py
!postsync.sh
!sync_offlineimap.sh
!count_new_msgs.sh

#Or these directories
