;; The deps.edn file describes the information needed to build a classpath.
;;
;; When using the `clojure` or `clj` script, there are several deps.edn files
;; that are combined:
;; - install-level
;; - user level (this file)
;; - project level (current directory when invoked)
;;
;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.

{
  ;; Paths
  ;;   Directories in the current project to include in the classpath

  ;; :paths ["src"]

  ;; External dependencies

  ;; :deps {
  ;;   org.clojure/clojure {:mvn/version "1.9.0"}
  ;; }

  ;; Aliases
  ;;   resolve-deps aliases (-R) affect dependency resolution, options:
  ;;     :extra-deps - specifies extra deps to add to :deps
  ;;     :override-deps - specifies a coordinate to use instead of that in :deps
  ;;     :default-deps - specifies a coordinate to use for a lib if one isn't found
  ;;   make-classpath aliases (-C) affect the classpath generation, options:
  ;;     :extra-paths - vector of additional paths to add to the classpath
  ;;     :classpath-overrides - map of lib to path that overrides the result of resolving deps

  ;; :aliases {
  ;;   :deps {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.5.460"}}}
  ;;   :test {:extra-paths ["test"]}
  ;; }
  :aliases {; Rebel is a readline library providing great auto-completion
            :rebel {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                    :main-opts ["-m" "rebel-readline.main"]}

            ; A test alias adds the test directory to the path and
            ; adds a dep for test.check
            :test {:extra-paths ["test"]
                   :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}

            :check {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                                  :sha "b48d4e7000586529f81c1e29069b503b57259514"}}
                    :main-opts ["-m" "clj-check.check"]}

            ;; Eastwood is a clojure lint tool
            ;; see https://github.com/jonase/eastwood#running-eastwood-in-a-repl
            :eastwood {:extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}
                       :main-opts ["-m" "eastwood.lint" {:source-paths ["src"] :test-paths ["test"]}]}

            ;; Complement is a clojure completion library
            ;; - see https://github.com/bbatsov/compliment
            :comp {:extra-deps {compliment {:mvn/version "RELEASE"}}}

            ;; - start a Socket REPL on port 50505:
            :socket {:jvm-opts ["-Dclojure.server.repl={:port,50505,:accept,clojure.core.server/repl}"]}

            ;; - start a modern nREPL server on a random available port:
            :nrepl {:extra-deps {nrepl {:mvn/version "RELEASE"}}
                    :main-opts ["-m" "nrepl.cmdline"]}

            ;; Easily create new clojure projects
            :new {:extra-deps {seancorfield/clj-new {:mvn/version "RELEASE"}}
                  :main-opts ["-m" "clj-new.create"]}

            :rebl {:extra-deps
                   {org.clojure/clojure {:mvn/version "1.10.1"}
                    org.clojure/core.async {:mvn/version "0.4.490"}
                    com.cognitect/rebl {:local/root 
                                        "/Users/chris/Downloads/REBL-0.9.220/REBL-0.9.220.jar"}
                    org.openjfx/javafx-fxml     {:mvn/version "11.0.2"}
                    org.openjfx/javafx-controls {:mvn/version "11.0.2"}
                    org.openjfx/javafx-swing    {:mvn/version "11.0.2"}
                    org.openjfx/javafx-base     {:mvn/version "11.0.2"}
                    org.openjfx/javafx-web      {:mvn/version "11.0.2"}}}}}
                  ;:main-opts ["-m" "cognitect.rebl"]}}


  ;; Provider attributes

  ;; :mvn/repos {
  ;;   "central" {:url "https://repo1.maven.org/maven2/"}
  ;;   "clojars" {:url "https://repo.clojars.org/"}
  ;; }

